
body {
  background: rgb(0,0,115);
  background: linear-gradient(265deg, rgba(0,0,115,1) 0%, rgba(13,13,162,1) 24%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  color: rgb(255, 255, 255);
  font-family: monospace;
 }
 html {
   font-family: monospace;
 }
 /*navbar */

 .navbar a:hover {
  background-color: blue;
}


/*main page */
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #ffffff;
}
.description p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
}


/* FAQ */


  .card-header {
      background-color: rgb(61, 61, 61)!important;
    border-radius:0!important;
  }
  .card{
  border-radius:0!important;
  background-color: rgb(41, 41, 41)!important;
  }
  
  .card > .card-header a::before {
      font-family: fontawesome;
      content: "\f067 ";
      color: #282425;
      float: right;
      margin-right: 15px;
      font-weight: 400;
      position: absolute;
      right: 0;
  }
.accordion{
 color: black;
}

.stackem div {
  width: 100%;
}

